body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(mal2.JPG);
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin-top: 3px;
    margin-left: 0px;
    text-align: right;
}
ul li{
    display: inline-block;
    margin: 5px;
    height: 0px;

}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
    letter-spacing: 1px;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2s;
    margin-left: 40px;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
ul li.active a{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
img{
    float: right;
    width: 150px;
    height: 50px;
    margin-right: 66px;
    margin-top: 2px;
}
.barre_image{
    margin-top: 15px;
    height: 150px;
    border-radius: 5px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.541)), url('mal1.jpg');
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    margin-top: 80px;
}
.barre_image h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ville{
    width: 900px;
    margin: auto;
    background-color: rgba(133, 131, 131, 0.24);
}
.video{
    background-position: center;
    background-size: cover;
    margin-left: 10%;
}
aside{
    position: relative;
    height: 100%;
    background-color: rgba(116, 185, 174, 0.411);
    box-shadow: 0px 2px 5px blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
 aside{
    display: inline-block;
    height: 100%;
    text-align: justify;
}
article{
    height:100%;
    position: relative;
    margin-top: 0%;
    position: ;

}
h2{
    ;
    text-align: center;
}
.flottant1{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
.flottant2{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
h3{
    text-align: center;
    padding-top: 90%;
    color: #fff;
}
h3:hover{
    text-align: center;
    padding-top: 80%;
}


.footer-bottom {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 12px;
}